WebContent/wsdl/HelloWorldSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.manuelpayet.fr/helloworldws/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="helloworldws" targetNamespace="http://www.manuelpayet.fr/helloworldws/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.manuelpayet.fr/helloworldws/">
      <xsd:element name="direBonjourRequest">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="lastName">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:length value="10"/>
                  <xsd:pattern value="[0-9A-Za-z]*"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="firstName">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:length value="10"/>
                  <xsd:pattern value="[0-9A-Za-z]*"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="birthYear">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:pattern value="[0-9]{4}"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="direBonjourResponse" type="xsd:string"/>
      <xsd:element name="direBonjourFault" type="xsd:string"/>
      <xsd:element name="context">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="sessionId" type="xsd:string"/>
            <xsd:element name="sessionDate" type="xsd:dateTime"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="contextHeader">
    <wsdl:part element="tns:context" name="context"/>
  </wsdl:message>
  <wsdl:message name="direBonjourRequest">
    <wsdl:part element="tns:direBonjourRequest" name="direBonjourRequest"/>
  </wsdl:message>
  <wsdl:message name="direBonjourResponse">
    <wsdl:part element="tns:direBonjourResponse" name="direBonjourResponse"/>
  </wsdl:message>
  <wsdl:message name="direBonjourFault">
    <wsdl:part element="tns:direBonjourFault" name="direBonjourFault"/>
  </wsdl:message>
  <wsdl:portType name="HelloWorldService1">
    <wsdl:operation name="direBonjour">
      <wsdl:input message="tns:direBonjourRequest" name="direBonjourRequest"/>
      <wsdl:output message="tns:direBonjourResponse" name="direBonjourResponse"/>
      <wsdl:fault message="tns:direBonjourFault" name="direBonjourFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HelloWorld1SOAP" type="tns:HelloWorldService1">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="direBonjour">
      <soap:operation soapAction="http://www.manuelpayet.fr/wsdl/helloworld/direBonjour"/>
      <wsdl:input>
        <soap:header message="tns:contextHeader" part="context" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="direBonjourFault">
        <soap:fault name="direBonjourFault"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloWorldService1">
    <wsdl:port binding="tns:HelloWorld1SOAP" name="HelloWorldSOAP">
      <soap:address location="http://localhost%3A8888/services/HelloWorldSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
